/* * {
  font-family: 'Exo 2', sans-serif;
  /* font-family: 'Dela Gothic One', cursive; */
  /* font-family: 'Chango', cursive; */
  /* font-size: 18px; */
  /* margin-top: 1rem; */




/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffa31a;
  /* color: rgb(59, 230, 7); */



